@charset "UTF-8";
/*Elementos que sofrer├úo transi├º├Áes*/
a,
button,
figcaption,
.pagination,
.nav-item,
.nav-link,
.btn,
.servico,
.servico::before,
nav {
  transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  -moz-transition: 0.3s all ease-out;
  -webkit-transition: 0.3s all ease-out; }

a,
a:hover,
a:focus {
  text-decoration: none; }

input,
select,
textarea {
  height: auto;
  border-radius: 0; }

textarea {
  max-height: 200px; }

button:focus {
  outline: none; }

figure {
  position: relative; }
  figure figcaption {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

html,
body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  height: 100%;
  line-height: 1; }

p {
  font-size: 1.15rem;
  font-weight: 300;
  margin-bottom: .5rem; }

h2 {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: 600;
  color: #780a43; }

@media (min-width: 1200px) {
  html,
  body {
    font-size: 16px; } }
@media (max-width: 1199px) {
  html,
  body {
    font-size: 15px; } }
@media (max-width: 991px) {
  html,
  body {
    font-size: 14px; } }
@media (max-width: 768px) {
  html,
  body {
    font-size: 13px; } }
/*Modifica├º├Áes*/
.wpcf7-response-output {
  color: inherit;
  font-size: 18px;
  text-align: center;
  padding: 1rem !important;
  font-weight: 400;
  border-width: 6px !important;
  margin: 0; }

.btn {
  white-space: normal;
  padding: .5rem 1.5rem; }

.btn-contact {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  color: #000;
  font-weight: 600; }
  .btn-contact:hover {
    background-color: #780a43;
    border: 1px solid #780a43;
    color: #fff; }

.btn-pro {
  background-color: #780a43;
  border: 1px solid #780a43;
  color: #fff; }
  .btn-pro:hover {
    background-color: #580832;
    border: 1px solid #580832; }

.navbar-item .is-grouped {
  display: flex;
  align-items: center; }
  .navbar-item .is-grouped .icon {
    color: #000; }
    .navbar-item .is-grouped .icon:hover {
      color: #780a43; }
  .navbar-item .is-grouped .button {
    border: 1px solid #bc1069;
    background-color: #bc1069;
    color: #fff; }
    .navbar-item .is-grouped .button .icon {
      color: #fff; }
    .navbar-item .is-grouped .button:hover {
      background-color: #780a43; }

.sessao-banner {
  width: 100%; }
  .sessao-banner figure img {
    width: 100%;
    height: 600px; }
  .sessao-banner figure figcaption h1 {
    font-size: 4rem;
    color: #bc1069;
    text-shadow: 1px 1px #000000ed; }

.sessao-sobre {
  margin: 2rem auto; }

.vantagens {
  margin: 2rem auto; }
  .vantagens .card {
    transform: scale(1);
    transition: all 300ms ease; }
    .vantagens .card:hover {
      background-color: #780a43;
      transform: scale(1.05);
      transition: all 300ms ease;
      color: #fff; }
    .vantagens .card .card-content, .vantagens .card .card-body {
      text-align: center; }
      .vantagens .card .card-content i, .vantagens .card .card-body i {
        margin: 1rem 0;
        font-size: 3rem; }
    .vantagens .card .card-back {
      background-color: #780a43;
      color: #fff; }

/*Layout Alternativo*/
.hero-home {
  background-image: url("../img/banner-fastercep.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.card-pro {
  transform: scale(1.08); }

.list-plans {
  list-style: none !important; }
  .list-plans i {
    margin-right: .5rem;
    color: #e5e5e5; }
  .list-plans .active {
    color: #1bd59a; }
  .list-plans li {
    margin: 1rem 0; }

.planos {
  justify-content: center; }

.form-contato {
  margin-top: 6rem; }
  .form-contato h2 {
    text-align: center; }

/*# sourceMappingURL=style.css.map */
